.msb {
	overflow: hidden;
	.calculation_price input {
		appearance: none !important;
	}
	.calculation_price {
		padding: 20px 20px;
	}

	.calculation_price h2 {
		text-align: center;
	}

	.calculation_price h2:before {
		display: none !important;
	}

	.calculation_price_text {
		color: #25282d;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		margin-top: 55px;
	}

	.calculation_price_title {
		text-align: center;
		color: #25282d;
		margin-top: 45px;
		font-size: 25px;
		font-weight: 700;
		line-height: 72.8px;
		margin-bottom: 20px;
	}

	.progress-bar {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		color: #fff;
		background-color: #5d87ad;
		transition: all 0.6s ease;
	}

	.progress {
		display: -ms-flexbox;
		display: flex;
		height: 22px;
		overflow: hidden;
		font-size: 0.75rem;
		background-color: #eeeff3;
		border-radius: 10px;
		max-width: 100%;
		// width: 468px;
		//max-width: 90%;
	}

	.question__item,
	.question__other {
		// min-width: 210px;
		height: 60px;
		background-color: #eeeff3;
		border-radius: 40px;
		color: #25282d;
		font-size: 16px;
		font-weight: 400;
		line-height: 60px;
		text-align: center;
		transition: all 0.3s ease;
		cursor: pointer;
		margin: 0 0px;
		// margin-bottom: 15px;
		padding: 0 20px;
		input {
			display: none;
		}
	}

	.question__item:hover,
	.question__other:hover,
	.question__item.active,
	.question__other.active {
		background-color: #5d87ad;
		transition: all 0.3s ease;
		color: #fff;
	}

	.question_one,
	.question_two,
	.question_theree {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.question_one {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}
	@media screen and (min-width: 1024px) {
		.question_one {
			grid-template-columns: 1fr 1fr;
		}
	}
	.back_calc,
	.next_calc {
		color: #25282d;
		cursor: pointer;
		font-size: 16px;
		font-weight: 700;
		line-height: 72.8px;
	}

	.back_calc {
		margin-right: 35px;
	}

	.next_calc {
		margin-left: 35px;
	}

	.visial_user {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 55px;
	}
	@media screen and (max-width: 1023px) {
		.visial_user {
			flex-direction: column;
			text-align: center;
		}
		.step-control {
			margin-left: 0;
			margin-right: 0;
		}
		.finish {
			max-width: 90%;
		}
		.finish input[type='submit'] {
			width: 100% !important;
		}
		.finish input[type='tel'] {
			width: 100%;
			height: 50px;
			padding-left: 10px;
			padding-right: 10px;
			box-sizing: border-box;
		}
	}

	.question_hide {
		display: none;
	}

	.question_hide.active {
		display: block;
	}

	.time_end {
		color: #fff;
		text-align: center;
		font-size: 25px;
		font-weight: 700;
		line-height: 36.3px;
		text-transform: uppercase;
		letter-spacing: 3.06px;
		margin-bottom: 15px;
	}

	.gift_Popup .box h3 + p {
		margin-bottom: 30px;
	}

	.back_time_group {
		width: 398px;
		height: 81px;
		background-color: #1a1d21;
		margin: 0 auto;
		padding: 15px 25px;
		margin-bottom: 25px;
	}

	.price_phone {
		display: block;
		width: 200px;
		margin-left: 40px;
		padding: 10px 15px;
		background-color: #5d87ad;
		text-align: center;
		color: #fff;
		margin-top: 50px;
	}

	.price_popup_title {
		color: #fff;
		font-size: 42px;
		font-weight: 700;
		line-height: 51.7px;
		text-transform: uppercase;
		text-align: center;
	}

	.price_popup_title span {
		color: #5d87ad;
	}

	.gift_Popup .box > p {
		color: #fff;
		font-size: 22px;
		text-align: center;
		padding: 0 50px;
		margin: 30px 0 45px;
	}

	.finish.decor {
		width: 500px;
		margin: 20px auto;
	}

	span.wpcf7-list-item {
		margin: 0 !important;
	}

	.question__item input {
		appearance: none !important;
		width: 210px !important;
		height: 60px !important;
		// position: absolute;
		// top: 0;
		// left: 0;
		border: 0;
	}

	.question__item {
		position: relative;
		background: #eeeff3;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			display: inline-block;
			line-height: 1.2em;
		}
	}

	.finish {
		width: 650px;
		margin: 40px auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.finish input[type='tel'] {
		width: 100%;
		height: 50px;
		padding-left: 10px;
	}

	.finish input[type='submit'] {
		width: 50%;
		height: 50px;
		background-color: #5d87ad;
		color: #fff;
		cursor: pointer;
	}

	.price_phone {
		visibility: hidden !important;
	}

	.calculation_text_finis {
		color: #25282d;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		margin-top: 55px;
		display: none;
	}

	@media (max-width: 500px) {
		.back_time_group {
			width: 96%;
			padding: 10px 0;
		}

		.timer-separator {
			padding: 0 3px !important;
		}

		#timer53f9a7c98f33a1e1b3db0ffd8e39713f {
			min-width: 100% !important;
		}
	}

	.calculation_price {
		padding: 30px 10px 40px;
		background: #fff;
		-webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.08),
			0 0 14px rgba(0, 0, 0, 0.04);
		box-shadow: 0 20px 25px rgba(0, 0, 0, 0.08),
			0 0 14px rgba(0, 0, 0, 0.04);
		border-radius: 4px 4px 16px 16px;
		border-top: 4px solid #5487b7;
		width: 100%;
		position: relative;
	}
	@media screen and (min-width: 1024px) {
		.calculation_price {
			padding: 30px 30px 40px;
		}
	}

	.question__item input {
		cursor: pointer;
	}

	.question__item input {
		height: 60px !important;
	}

	.mobile-direction-column {
		@media screen and (max-width: 1023px) {
			display: flex;
			flex-direction: column !important;
			.form__label-wrap {
				margin-right: 0 !important;
			}
			.form__label-wrap:not(:last-of-type) {
				margin-bottom: 40px;
			}
		}
	}

	// @media screen and (min-width: 1024px) {
	// 	.investor-proposals__header:after {
	// 		position: absolute;
	// 		content: url('/images/rocket.svg');
	// 		z-index: -1;
	// 		top: -20px;
	// 		right: 30px;
	// 		max-width: 515px;
	// 		display: block;
	// 	}
	// }

	@media (min-width: 1024px) {
		.investor-proposals__header:after {
			position: absolute;
			content: url('/images/rocket-without-fuel.svg') !important;
			z-index: -1;
			top: -50px !important;
			left: 735px;
			max-width: 515px;
		}
	}
	// .proposal__features-list li:before {
	// 	content: url('/images/icons/white-check.svg');
	// 	position: absolute;
	// 	left: -30px;
	// 	top: 2px;
	// }

	// .proposal--blue .proposal__features-list li:before {
	// 	content: url('/images/icons/grey-check.svg');
	// 	position: absolute;
	// 	left: -30px;
	// 	top: 2px;
	// }
	@media (min-width: 1024px) {
		.msb__button {
			max-width: 320px;
		}
	}
	.h2 {
		font-size: 18px;
	}
	@media (min-width: 1024px) {
		.h2 {
			font-size: 24px;
		}
	}

	.h2-thin {
		font-weight: normal;
		line-height: 120%;
	}

	@media (min-width: 1024px) {
		.h2-thin {
			line-height: 140%;
			font-size: 24px;
		}
	}

	.why-us__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		margin-top: 60px;
	}
	.why-us__grid h3 {
		margin-bottom: 0.5em;
	}
	@media (min-width: 1024px) {
		.why-us__grid {
			grid-template-columns: 1fr 1fr;
			gap: 40px;
		}
	}
	.categories__list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		margin-top: 24px;
	}
	@media (min-width: 1024px) {
		.categories__list {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	.categories__item {
		display: flex;
		align-items: center;
		background: rgba(145, 192, 234, 0.28);
		border-radius: 20px;
		padding: 30px 20px;
	}
	.categories__icon {
		background: white;
		height: 60px;
		width: 60px;
		min-width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 60px;
		margin-right: 16px;
	}
	.categories__icon img {
		height: 46px;
		width: auto;
	}
	.error-circle {
		min-width: 26px;
	}
	.step-control {
		opacity: 0.5;
		transition: all 0.25s ease;
	}
	.step-control:hover {
		opacity: 1;
	}
}
