.investments {
	&__title {
		max-width: 640px;
	}
	&__title-link {
    font-size: 12px;
    background: var(--main-accent-color);
    cursor: pointer;
    white-space: nowrap;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;	
    &.--mobile{
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 16px;
      text-align: center;
      justify-content: center;
    }
	}
	&__nav {
		.section__categories {
			@media screen and (min-width: 1024px) {
				width: 100%;
				position: relative;
				/* overflow-y: scroll; */ 
				max-width: calc(100vw - 630px) !important;
				margin: 0;
				padding: 0;
			}
		}
	}
}
