.investor-proposals {
  padding: 20px 0 30px;
}

@media (min-width: 1024px) {
  .investor-proposals {
    padding: 50px 0 50px;
  }
}

.investor-proposals__header {
  position: relative;
}

.investor-proposals__header div {
  max-width: 700px;
}

@media (min-width: 1024px) {
  .investor-proposals__header:after {
    position: absolute;
    z-index: -1;
    top: -20px;
    right: 30px;
    max-width: 515px;
  }
}

.investor-proposals__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  /* or 34px */
  margin-bottom: 10px;
  color: #000000;
}

@media (min-width: 1024px) {
  .investor-proposals__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
}

.investor-proposals__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 15px;
  /* or 26px */
  color: #000000;
}

@media (min-width: 1024px) {
  .investor-proposals__description {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.investor-proposals__form {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@media (min-width: 1024px) {
  .investor-proposals__form {
    flex-direction: row;
  }
}

.investor-proposals__form .proposal--blue {
  background: #5d87ad;
  border-radius: 0px 0px 4px 4px;
  color: white;
  height: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .investor-proposals__form .proposal--blue {
    border-radius: 0px 4px 4px 0px;
  }
}

.investor-proposals__form .proposal--blue .proposal__features-list li:before {
  content: url("/images/icons/white-check.svg");
  position: absolute;
  left: -30px;
  top: 2px;
}

.investor-proposals__proposal {
  padding: 15px;
}

@media (min-width: 1024px) {
  .investor-proposals__proposal {
    height: 100%;
    padding: 40px;
    width: 50%;
  }
}

.investor-proposals__proposal .btn {
  margin: auto 0 0 0;
}

.investor-proposals .proposal__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

@media (min-width: 1024px) {
  .investor-proposals .proposal__title {
    font-size: 24px;
  }
}

.investor-proposals .proposal__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}

@media (min-width: 1024px) {
  .investor-proposals .proposal__description {
    font-size: 16px;
  }
}

.investor-proposals .proposal__features-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  .investor-proposals .proposal__features-title {
    font-size: 16px;
    margin-top: 15px;
  }
}

.investor-proposals .proposal__features-list {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 16px;
}

.investor-proposals .proposal__features-list li {
  margin-left: 30px;
  margin-bottom: 10px;
  position: relative;
}

.investor-proposals .proposal__features-list li:before {
  content: url("/images/icons/grey-check.svg");
  position: absolute;
  left: -30px;
  top: 2px;
}

@media (min-width: 1024px) {
  .investor-proposals .proposal__features-list {
    font-size: 16px;
  }
}

.investor-proposals .proposal__features-list--light li:before {
  content: url("/images/icons/light-check.svg");
}

.investor-proposals__statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #e1e1e1;
}

@media (min-width: 1024px) {
  .investor-proposals__statistics {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
  }
}

.investor-proposals .statistics__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5px;
  margin: 10px 0;
}

@media (min-width: 1024px) {
  .investor-proposals .statistics__block {
    margin: 0;
  }
}

.investor-proposals .statistics__number {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 160%;
  color: #5d87ad;
}

@media (min-width: 1200px) {
  .investor-proposals .statistics__number {
    font-size: 32px;
  }
}

.investor-proposals .statistics__caption {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .investor-proposals .statistics__caption {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .investor-proposals .statistics__caption {
    font-size: 16px;
  }
}

.reviews {
  z-index: 1;
  position: relative;
  padding: 0 0 30px;
}

@media (min-width: 1024px) {
  .reviews {
    padding: 10px 0 80px;
  }
}

.reviews__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 34px */
  text-align: center;
  color: #000000;
}

@media (min-width: 1024px) {
  .reviews__title {
    font-size: 28px;
  }
}

.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__slide {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px 20px;
  width: 100%;
}

@media (min-width: 1024px) {
  .reviews__slide {
    padding: 25px 70px;
  }
}

.reviews .swiper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__slider {
  max-width: 780px;
}

@media (min-width: 1024px) {
  .reviews__slider {
    margin: 8px auto 0;
  }
}

.reviews__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  white-space: break-spaces;
  color: #000000;
}

@media (min-width: 1024px) {
  .reviews__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
}

.reviews__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .reviews__footer {
    margin-top: 30px;
  }
}

.reviews__avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.reviews__name {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 4px;
}

@media (min-width: 1024px) {
  .reviews__name {
    font-size: 16px;
  }
}

.reviews__position {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

@media (min-width: 1024px) {
  .reviews__position {
    font-size: 14px;
  }
}

.reviews__qoute {
  height: 30px;
}

@media (min-width: 1024px) {
  .reviews__qoute {
    height: auto;
  }
}

.reviews__socials {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reviews__socials-link {
  margin: 0 8px;
}

.reviews .swiper-button {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
  width: 70px;
  border-radius: 35px;
  display: none;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .reviews .swiper-button {
    display: flex;
  }
}

.partners-btn {
  flex: 1;
}

.preview__wrapper_relative {
  position: relative;
}

.position-absolute-top-100 {
  position: absolute;
  top: 100%;
}

.pb-3em {
  padding-bottom: 3em !important;
}

.marbtm-12 {
  margin-bottom: 12px;
}
