.newsletter {
  background-color: #5e87b3;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .newsletter {
    padding-bottom: 2em;
    background-color: #5e87b3;
    position: relative;
  }
  .newsletter .newsletter__wrapper {
    max-width: 640px;
  }
  .newsletter * {
    z-index: 2;
    position: relative;
  }
  .newsletter:after {
    content: '';
    background: url("/images/newsletter-full.png");
    background-position: left;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 600px;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1260px) {
  .newsletter:after {
    right: calc((100vw - 1375px) / 2);
    background-size: cover;
    background-position-x: center;
    width: 640px;
  }
}

.newsletter__title {
  color: #ffffff;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
}

.newsletter__text {
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin: 0px;
  padding-bottom: 24px;
}

.newsletter__btn {
  background-color: #ffffff;
  min-width: 270px;
  min-height: 55px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.newsletter__download-link {
  display: flex;
  align-items: center;
  padding-top: 16px;
}

@media screen and (min-width: 1024px) {
  .newsletter__download-link {
    padding: 0.5em 0 0.5em 1em;
  }
}

.newsletter__download-link-text {
  padding-left: 10px;
  color: #ffffff;
}

.newsletter__mag {
  transform: translateX(-1.5em);
}
