.post {
  &__map {
    height: 260px;
    border-radius: 4px;
  }
  &__preview {
    @media (max-width: 1023px) {
      background-color: #ffffff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      padding-bottom: 1em;
    }
  }

  &__wrapper {
    border-radius: 4px;
    @media (min-width: 1024px) {
      background-color: #ffffff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    }
    &--big-shadow {
      @media (min-width: 1024px) {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      }
    }
    &--shadow {
      background-color: #ffffff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      .post__preview {
        box-shadow: none;
      }
      @media (max-width: 1023px) {
        .the_post_content {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  &__container {
    display: flow-root;
    margin-top: 2em;
    .line {
      // display: none;
      margin: 0;
    }

    @media (min-width: 1024px) {
      .line {
        display: block;
      }
      margin-top: 0;
      padding: 0 40px;
    }
  }
  &--card {
    .post__wrapper {
      background-color: #ffffff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    }

    .post__container {
      padding: 0 10px;
      margin-top: -10px;
      .line {
        display: block;
      }
      @media (min-width: 1024px) {
        margin-top: 0;
        padding: 0 40px;
      }
    }
    .post__preview {
      box-shadow: initial;
    }
  }
}
