.promo-links {
  padding-top: 15px;
}

.promo-links__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-links__btn-title {
  font-size: 1.2em;
}

@media screen and (min-width: 1024px) {
  .promo-links__btn-title {
    font-size: 1em;
  }
}

.promo-links__btn-desc {
  line-height: 1.2;
  font-weight: normal;
  text-transform: none;
  font-size: 11px;
}

.promo-links__btn {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  min-width: 130px;
  width: calc(50% - 5px);
  border-radius: 4px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  height: auto;
  padding: 16px 0 !important;
}

@media screen and (min-width: 1024px) {
  .promo-links__btn {
    height: 100px;
    padding: 10px 0 !important;
  }
}

.promo-links__btn--blue {
  background-color: var(--main-accent-color);
  transition: all 0.25s ease;
}

.promo-links__btn--blue:hover {
  background: var(--main-accent-color-darken);
}

.promo-links__btn--red {
  background-color: var(--secondary-accent-color);
  transition: all 0.25s ease;
}

.promo-links__btn--red:hover {
  background: var(--secondary-accent-color-darken);
}

.section {
  margin: 0px;
}

.section__title {
  padding-top: 0px;
  padding-bottom: 7px;
  font-weight: 600;
  font-size: 24px;
}

.without-promo-links .promo-links {
  display: none !important;
}
