.horizontal-cards {
  padding: 30px 0;
}

.horizontal-cards__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
}

@media (min-width: 1024px) {
  .horizontal-cards__title {
    font-size: 28px;
  }
}

.horizontal-cards__selectors {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35px 35px 35px 35px;
  grid-row-gap: 8px;
  width: 100%;
}

@media (min-width: 1024px) {
  .horizontal-cards__selectors {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px;
    grid-column-gap: 20px;
  }
}

.horizontal-cards__list {
  display: flex;
  flex-direction: column;
}

.horizontal-cards__block {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

@media (min-width: 1024px) {
  .horizontal-cards__block {
    flex-direction: row;
  }
}

.horizontal-cards__logo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .horizontal-cards__logo {
    width: 180px;
    border-bottom: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.horizontal-cards__logo-icon {
  height: 150px;
  max-width: 100%;
  object-fit: contain;
}

@media (min-width: 1024px) {
  .horizontal-cards__logo-icon {
    height: 180px;
  }
}

.horizontal-cards__info {
  padding: 15px;
}

@media (min-width: 1024px) {
  .horizontal-cards__info {
    padding: 30px 20px;
  }
}

.horizontal-cards__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}

@media (min-width: 1024px) {
  .horizontal-cards__name {
    font-size: 18px;
  }
}

.horizontal-cards__details {
  font-size: 14px;
  line-height: 160%;
  color: #000000;
}

@media (min-width: 1024px) {
  .horizontal-cards__details {
    font-size: 16px;
  }
}

.horizontal-cards__details--bold {
  font-weight: bold;
}

.horizontal-cards__grey-pic {
  display: none;
}

@media (min-width: 1024px) {
  .horizontal-cards__grey-pic {
    display: block;
  }
}
