.mb-0 {
  margin-bottom: 0em !important;
}

.mb-1 {
  margin-bottom: 0.25em !important;
}

.mb-2 {
  margin-bottom: 0.5em !important;
}

.mb-3 {
  margin-bottom: 0.75em !important;
}

.mb-4 {
  margin-bottom: 1em !important;
}

.mb-5 {
  margin-bottom: 1.25em !important;
}

.mb-6 {
  margin-bottom: 1.5em !important;
}

.mb-7 {
  margin-bottom: 1.75em !important;
}

.mb-8 {
  margin-bottom: 2em !important;
}

.mb-9 {
  margin-bottom: 2.25em !important;
}

.mb-10 {
  margin-bottom: 2.5em !important;
}

.mb-11 {
  margin-bottom: 2.75em !important;
}

.mb-12 {
  margin-bottom: 3em !important;
}

.mb-13 {
  margin-bottom: 3.25em !important;
}

.mb-14 {
  margin-bottom: 3.5em !important;
}

.mb-15 {
  margin-bottom: 3.75em !important;
}

.mb-16 {
  margin-bottom: 4em !important;
}

.mb-17 {
  margin-bottom: 4.25em !important;
}

.mb-18 {
  margin-bottom: 4.5em !important;
}

.mb-19 {
  margin-bottom: 4.75em !important;
}

.mb-20 {
  margin-bottom: 5em !important;
}

.mb-21 {
  margin-bottom: 5.25em !important;
}

.mb-22 {
  margin-bottom: 5.5em !important;
}

.mb-23 {
  margin-bottom: 5.75em !important;
}

.mb-24 {
  margin-bottom: 6em !important;
}

.mt-0 {
  margin-top: 0em !important;
}

.mt-1 {
  margin-top: 0.25em !important;
}

.mt-2 {
  margin-top: 0.5em !important;
}

.mt-3 {
  margin-top: 0.75em !important;
}

.mt-4 {
  margin-top: 1em !important;
}

.mt-5 {
  margin-top: 1.25em !important;
}

.mt-6 {
  margin-top: 1.5em !important;
}

.mt-7 {
  margin-top: 1.75em !important;
}

.mt-8 {
  margin-top: 2em !important;
}

.mt-9 {
  margin-top: 2.25em !important;
}

.mt-10 {
  margin-top: 2.5em !important;
}

.mt-11 {
  margin-top: 2.75em !important;
}

.mt-12 {
  margin-top: 3em !important;
}

.mt-13 {
  margin-top: 3.25em !important;
}

.mt-14 {
  margin-top: 3.5em !important;
}

.mt-15 {
  margin-top: 3.75em !important;
}

.mt-16 {
  margin-top: 4em !important;
}

.mt-17 {
  margin-top: 4.25em !important;
}

.mt-18 {
  margin-top: 4.5em !important;
}

.mt-19 {
  margin-top: 4.75em !important;
}

.mt-20 {
  margin-top: 5em !important;
}

.mt-21 {
  margin-top: 5.25em !important;
}

.mt-22 {
  margin-top: 5.5em !important;
}

.mt-23 {
  margin-top: 5.75em !important;
}

.mt-24 {
  margin-top: 6em !important;
}

.ml--2 {
  margin-left: -0.5em !important;
}

.ml--1 {
  margin-left: -0.25em !important;
}

.ml-0 {
  margin-left: 0em !important;
}

.ml-1 {
  margin-left: 0.25em !important;
}

.ml-2 {
  margin-left: 0.5em !important;
}

.ml-3 {
  margin-left: 0.75em !important;
}

.ml-4 {
  margin-left: 1em !important;
}

.ml-5 {
  margin-left: 1.25em !important;
}

.ml-6 {
  margin-left: 1.5em !important;
}

.ml-7 {
  margin-left: 1.75em !important;
}

.ml-8 {
  margin-left: 2em !important;
}

.ml-9 {
  margin-left: 2.25em !important;
}

.ml-10 {
  margin-left: 2.5em !important;
}

.ml-11 {
  margin-left: 2.75em !important;
}

.ml-12 {
  margin-left: 3em !important;
}

.ml-13 {
  margin-left: 3.25em !important;
}

.ml-14 {
  margin-left: 3.5em !important;
}

.ml-15 {
  margin-left: 3.75em !important;
}

.ml-16 {
  margin-left: 4em !important;
}

.ml-17 {
  margin-left: 4.25em !important;
}

.ml-18 {
  margin-left: 4.5em !important;
}

.ml-19 {
  margin-left: 4.75em !important;
}

.ml-20 {
  margin-left: 5em !important;
}

.ml-21 {
  margin-left: 5.25em !important;
}

.ml-22 {
  margin-left: 5.5em !important;
}

.ml-23 {
  margin-left: 5.75em !important;
}

.ml-24 {
  margin-left: 6em !important;
}

.mr--2 {
  margin-right: -0.5em !important;
}

.mr--1 {
  margin-right: -0.25em !important;
}

.mr-0 {
  margin-right: 0em !important;
}

.mr-1 {
  margin-right: 0.25em !important;
}

.mr-2 {
  margin-right: 0.5em !important;
}

.mr-3 {
  margin-right: 0.75em !important;
}

.mr-4 {
  margin-right: 1em !important;
}

.mr-5 {
  margin-right: 1.25em !important;
}

.mr-6 {
  margin-right: 1.5em !important;
}

.mr-7 {
  margin-right: 1.75em !important;
}

.mr-8 {
  margin-right: 2em !important;
}

.mr-9 {
  margin-right: 2.25em !important;
}

.mr-10 {
  margin-right: 2.5em !important;
}

.mr-11 {
  margin-right: 2.75em !important;
}

.mr-12 {
  margin-right: 3em !important;
}

.mr-13 {
  margin-right: 3.25em !important;
}

.mr-14 {
  margin-right: 3.5em !important;
}

.mr-15 {
  margin-right: 3.75em !important;
}

.mr-16 {
  margin-right: 4em !important;
}

.mr-17 {
  margin-right: 4.25em !important;
}

.mr-18 {
  margin-right: 4.5em !important;
}

.mr-19 {
  margin-right: 4.75em !important;
}

.mr-20 {
  margin-right: 5em !important;
}

.mr-21 {
  margin-right: 5.25em !important;
}

.mr-22 {
  margin-right: 5.5em !important;
}

.mr-23 {
  margin-right: 5.75em !important;
}

.mr-24 {
  margin-right: 6em !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

@media screen and (min-width: 1024px) {
  .desktop-mb-0 {
    margin-bottom: 0em !important;
  }
  .desktop-mb-1 {
    margin-bottom: 0.25em !important;
  }
  .desktop-mb-2 {
    margin-bottom: 0.5em !important;
  }
  .desktop-mb-3 {
    margin-bottom: 0.75em !important;
  }
  .desktop-mb-4 {
    margin-bottom: 1em !important;
  }
  .desktop-mb-5 {
    margin-bottom: 1.25em !important;
  }
  .desktop-mb-6 {
    margin-bottom: 1.5em !important;
  }
  .desktop-mb-7 {
    margin-bottom: 1.75em !important;
  }
  .desktop-mb-8 {
    margin-bottom: 2em !important;
  }
  .desktop-mb-9 {
    margin-bottom: 2.25em !important;
  }
  .desktop-mb-10 {
    margin-bottom: 2.5em !important;
  }
  .desktop-mb-11 {
    margin-bottom: 2.75em !important;
  }
  .desktop-mb-12 {
    margin-bottom: 3em !important;
  }
  .desktop-mb-13 {
    margin-bottom: 3.25em !important;
  }
  .desktop-mb-14 {
    margin-bottom: 3.5em !important;
  }
  .desktop-mb-15 {
    margin-bottom: 3.75em !important;
  }
  .desktop-mb-16 {
    margin-bottom: 4em !important;
  }
  .desktop-mb-17 {
    margin-bottom: 4.25em !important;
  }
  .desktop-mb-18 {
    margin-bottom: 4.5em !important;
  }
  .desktop-mb-19 {
    margin-bottom: 4.75em !important;
  }
  .desktop-mb-20 {
    margin-bottom: 5em !important;
  }
  .desktop-mb-21 {
    margin-bottom: 5.25em !important;
  }
  .desktop-mb-22 {
    margin-bottom: 5.5em !important;
  }
  .desktop-mb-23 {
    margin-bottom: 5.75em !important;
  }
  .desktop-mb-24 {
    margin-bottom: 6em !important;
  }
  .desktop-mt-0 {
    margin-top: 0em !important;
  }
  .desktop-mt-1 {
    margin-top: 0.25em !important;
  }
  .desktop-mt-2 {
    margin-top: 0.5em !important;
  }
  .desktop-mt-3 {
    margin-top: 0.75em !important;
  }
  .desktop-mt-4 {
    margin-top: 1em !important;
  }
  .desktop-mt-5 {
    margin-top: 1.25em !important;
  }
  .desktop-mt-6 {
    margin-top: 1.5em !important;
  }
  .desktop-mt-7 {
    margin-top: 1.75em !important;
  }
  .desktop-mt-8 {
    margin-top: 2em !important;
  }
  .desktop-mt-9 {
    margin-top: 2.25em !important;
  }
  .desktop-mt-10 {
    margin-top: 2.5em !important;
  }
  .desktop-mt-11 {
    margin-top: 2.75em !important;
  }
  .desktop-mt-12 {
    margin-top: 3em !important;
  }
  .desktop-mt-13 {
    margin-top: 3.25em !important;
  }
  .desktop-mt-14 {
    margin-top: 3.5em !important;
  }
  .desktop-mt-15 {
    margin-top: 3.75em !important;
  }
  .desktop-mt-16 {
    margin-top: 4em !important;
  }
  .desktop-mt-17 {
    margin-top: 4.25em !important;
  }
  .desktop-mt-18 {
    margin-top: 4.5em !important;
  }
  .desktop-mt-19 {
    margin-top: 4.75em !important;
  }
  .desktop-mt-20 {
    margin-top: 5em !important;
  }
  .desktop-mt-21 {
    margin-top: 5.25em !important;
  }
  .desktop-mt-22 {
    margin-top: 5.5em !important;
  }
  .desktop-mt-23 {
    margin-top: 5.75em !important;
  }
  .desktop-mt-24 {
    margin-top: 6em !important;
  }
  .desktop-ml-0 {
    margin-left: 0em !important;
  }
  .desktop-ml-1 {
    margin-left: 0.25em !important;
  }
  .desktop-ml-2 {
    margin-left: 0.5em !important;
  }
  .desktop-ml-3 {
    margin-left: 0.75em !important;
  }
  .desktop-ml-4 {
    margin-left: 1em !important;
  }
  .desktop-ml-5 {
    margin-left: 1.25em !important;
  }
  .desktop-ml-6 {
    margin-left: 1.5em !important;
  }
  .desktop-ml-7 {
    margin-left: 1.75em !important;
  }
  .desktop-ml-8 {
    margin-left: 2em !important;
  }
  .desktop-ml-9 {
    margin-left: 2.25em !important;
  }
  .desktop-ml-10 {
    margin-left: 2.5em !important;
  }
  .desktop-ml-11 {
    margin-left: 2.75em !important;
  }
  .desktop-ml-12 {
    margin-left: 3em !important;
  }
  .desktop-ml-13 {
    margin-left: 3.25em !important;
  }
  .desktop-ml-14 {
    margin-left: 3.5em !important;
  }
  .desktop-ml-15 {
    margin-left: 3.75em !important;
  }
  .desktop-ml-16 {
    margin-left: 4em !important;
  }
  .desktop-ml-17 {
    margin-left: 4.25em !important;
  }
  .desktop-ml-18 {
    margin-left: 4.5em !important;
  }
  .desktop-ml-19 {
    margin-left: 4.75em !important;
  }
  .desktop-ml-20 {
    margin-left: 5em !important;
  }
  .desktop-ml-21 {
    margin-left: 5.25em !important;
  }
  .desktop-ml-22 {
    margin-left: 5.5em !important;
  }
  .desktop-ml-23 {
    margin-left: 5.75em !important;
  }
  .desktop-ml-24 {
    margin-left: 6em !important;
  }
  .desktop-mr-0 {
    margin-right: 0em !important;
  }
  .desktop-mr-1 {
    margin-right: 0.25em !important;
  }
  .desktop-mr-2 {
    margin-right: 0.5em !important;
  }
  .desktop-mr-3 {
    margin-right: 0.75em !important;
  }
  .desktop-mr-4 {
    margin-right: 1em !important;
  }
  .desktop-mr-5 {
    margin-right: 1.25em !important;
  }
  .desktop-mr-6 {
    margin-right: 1.5em !important;
  }
  .desktop-mr-7 {
    margin-right: 1.75em !important;
  }
  .desktop-mr-8 {
    margin-right: 2em !important;
  }
  .desktop-mr-9 {
    margin-right: 2.25em !important;
  }
  .desktop-mr-10 {
    margin-right: 2.5em !important;
  }
  .desktop-mr-11 {
    margin-right: 2.75em !important;
  }
  .desktop-mr-12 {
    margin-right: 3em !important;
  }
  .desktop-mr-13 {
    margin-right: 3.25em !important;
  }
  .desktop-mr-14 {
    margin-right: 3.5em !important;
  }
  .desktop-mr-15 {
    margin-right: 3.75em !important;
  }
  .desktop-mr-16 {
    margin-right: 4em !important;
  }
  .desktop-mr-17 {
    margin-right: 4.25em !important;
  }
  .desktop-mr-18 {
    margin-right: 4.5em !important;
  }
  .desktop-mr-19 {
    margin-right: 4.75em !important;
  }
  .desktop-mr-20 {
    margin-right: 5em !important;
  }
  .desktop-mr-21 {
    margin-right: 5.25em !important;
  }
  .desktop-mr-22 {
    margin-right: 5.5em !important;
  }
  .desktop-mr-23 {
    margin-right: 5.75em !important;
  }
  .desktop-mr-24 {
    margin-right: 6em !important;
  }
}

@media screen and (max-width: 1023px) {
  .mobile-mb-0 {
    margin-bottom: 0em !important;
  }
  .mobile-mb-1 {
    margin-bottom: 0.25em !important;
  }
  .mobile-mb-2 {
    margin-bottom: 0.5em !important;
  }
  .mobile-mb-3 {
    margin-bottom: 0.75em !important;
  }
  .mobile-mb-4 {
    margin-bottom: 1em !important;
  }
  .mobile-mb-5 {
    margin-bottom: 1.25em !important;
  }
  .mobile-mb-6 {
    margin-bottom: 1.5em !important;
  }
  .mobile-mb-7 {
    margin-bottom: 1.75em !important;
  }
  .mobile-mb-8 {
    margin-bottom: 2em !important;
  }
  .mobile-mb-9 {
    margin-bottom: 2.25em !important;
  }
  .mobile-mb-10 {
    margin-bottom: 2.5em !important;
  }
  .mobile-mb-11 {
    margin-bottom: 2.75em !important;
  }
  .mobile-mb-12 {
    margin-bottom: 3em !important;
  }
  .mobile-mb-13 {
    margin-bottom: 3.25em !important;
  }
  .mobile-mb-14 {
    margin-bottom: 3.5em !important;
  }
  .mobile-mb-15 {
    margin-bottom: 3.75em !important;
  }
  .mobile-mb-16 {
    margin-bottom: 4em !important;
  }
  .mobile-mb-17 {
    margin-bottom: 4.25em !important;
  }
  .mobile-mb-18 {
    margin-bottom: 4.5em !important;
  }
  .mobile-mb-19 {
    margin-bottom: 4.75em !important;
  }
  .mobile-mb-20 {
    margin-bottom: 5em !important;
  }
  .mobile-mb-21 {
    margin-bottom: 5.25em !important;
  }
  .mobile-mb-22 {
    margin-bottom: 5.5em !important;
  }
  .mobile-mb-23 {
    margin-bottom: 5.75em !important;
  }
  .mobile-mb-24 {
    margin-bottom: 6em !important;
  }
  .mobile-mt-0 {
    margin-top: 0em !important;
  }
  .mobile-mt-1 {
    margin-top: 0.25em !important;
  }
  .mobile-mt-2 {
    margin-top: 0.5em !important;
  }
  .mobile-mt-3 {
    margin-top: 0.75em !important;
  }
  .mobile-mt-4 {
    margin-top: 1em !important;
  }
  .mobile-mt-5 {
    margin-top: 1.25em !important;
  }
  .mobile-mt-6 {
    margin-top: 1.5em !important;
  }
  .mobile-mt-7 {
    margin-top: 1.75em !important;
  }
  .mobile-mt-8 {
    margin-top: 2em !important;
  }
  .mobile-mt-9 {
    margin-top: 2.25em !important;
  }
  .mobile-mt-10 {
    margin-top: 2.5em !important;
  }
  .mobile-mt-11 {
    margin-top: 2.75em !important;
  }
  .mobile-mt-12 {
    margin-top: 3em !important;
  }
  .mobile-mt-13 {
    margin-top: 3.25em !important;
  }
  .mobile-mt-14 {
    margin-top: 3.5em !important;
  }
  .mobile-mt-15 {
    margin-top: 3.75em !important;
  }
  .mobile-mt-16 {
    margin-top: 4em !important;
  }
  .mobile-mt-17 {
    margin-top: 4.25em !important;
  }
  .mobile-mt-18 {
    margin-top: 4.5em !important;
  }
  .mobile-mt-19 {
    margin-top: 4.75em !important;
  }
  .mobile-mt-20 {
    margin-top: 5em !important;
  }
  .mobile-mt-21 {
    margin-top: 5.25em !important;
  }
  .mobile-mt-22 {
    margin-top: 5.5em !important;
  }
  .mobile-mt-23 {
    margin-top: 5.75em !important;
  }
  .mobile-mt-24 {
    margin-top: 6em !important;
  }
  .mobile-ml-0 {
    margin-left: 0em !important;
  }
  .mobile-ml-1 {
    margin-left: 0.25em !important;
  }
  .mobile-ml-2 {
    margin-left: 0.5em !important;
  }
  .mobile-ml-3 {
    margin-left: 0.75em !important;
  }
  .mobile-ml-4 {
    margin-left: 1em !important;
  }
  .mobile-ml-5 {
    margin-left: 1.25em !important;
  }
  .mobile-ml-6 {
    margin-left: 1.5em !important;
  }
  .mobile-ml-7 {
    margin-left: 1.75em !important;
  }
  .mobile-ml-8 {
    margin-left: 2em !important;
  }
  .mobile-ml-9 {
    margin-left: 2.25em !important;
  }
  .mobile-ml-10 {
    margin-left: 2.5em !important;
  }
  .mobile-ml-11 {
    margin-left: 2.75em !important;
  }
  .mobile-ml-12 {
    margin-left: 3em !important;
  }
  .mobile-ml-13 {
    margin-left: 3.25em !important;
  }
  .mobile-ml-14 {
    margin-left: 3.5em !important;
  }
  .mobile-ml-15 {
    margin-left: 3.75em !important;
  }
  .mobile-ml-16 {
    margin-left: 4em !important;
  }
  .mobile-ml-17 {
    margin-left: 4.25em !important;
  }
  .mobile-ml-18 {
    margin-left: 4.5em !important;
  }
  .mobile-ml-19 {
    margin-left: 4.75em !important;
  }
  .mobile-ml-20 {
    margin-left: 5em !important;
  }
  .mobile-ml-21 {
    margin-left: 5.25em !important;
  }
  .mobile-ml-22 {
    margin-left: 5.5em !important;
  }
  .mobile-ml-23 {
    margin-left: 5.75em !important;
  }
  .mobile-ml-24 {
    margin-left: 6em !important;
  }
  .mobile-mr-0 {
    margin-right: 0em !important;
  }
  .mobile-mr-1 {
    margin-right: 0.25em !important;
  }
  .mobile-mr-2 {
    margin-right: 0.5em !important;
  }
  .mobile-mr-3 {
    margin-right: 0.75em !important;
  }
  .mobile-mr-4 {
    margin-right: 1em !important;
  }
  .mobile-mr-5 {
    margin-right: 1.25em !important;
  }
  .mobile-mr-6 {
    margin-right: 1.5em !important;
  }
  .mobile-mr-7 {
    margin-right: 1.75em !important;
  }
  .mobile-mr-8 {
    margin-right: 2em !important;
  }
  .mobile-mr-9 {
    margin-right: 2.25em !important;
  }
  .mobile-mr-10 {
    margin-right: 2.5em !important;
  }
  .mobile-mr-11 {
    margin-right: 2.75em !important;
  }
  .mobile-mr-12 {
    margin-right: 3em !important;
  }
  .mobile-mr-13 {
    margin-right: 3.25em !important;
  }
  .mobile-mr-14 {
    margin-right: 3.5em !important;
  }
  .mobile-mr-15 {
    margin-right: 3.75em !important;
  }
  .mobile-mr-16 {
    margin-right: 4em !important;
  }
  .mobile-mr-17 {
    margin-right: 4.25em !important;
  }
  .mobile-mr-18 {
    margin-right: 4.5em !important;
  }
  .mobile-mr-19 {
    margin-right: 4.75em !important;
  }
  .mobile-mr-20 {
    margin-right: 5em !important;
  }
  .mobile-mr-21 {
    margin-right: 5.25em !important;
  }
  .mobile-mr-22 {
    margin-right: 5.5em !important;
  }
  .mobile-mr-23 {
    margin-right: 5.75em !important;
  }
  .mobile-mr-24 {
    margin-right: 6em !important;
  }
}
