#
.idea/*
#
www/upload
www/img
www/import
www/skynar
www/error
www/*.log
cache
log
# /template/Mail.mailing_*
template/Mail.mailing*
#
data/gen_lib/Locale/Group.php
data/react/node_modules/
foundation/node_modules/
node_modules/
#
# 
config/modules.yml
config/app.yml
config/Mail.mailing.yml
config/Widget.slots.yml
config/mailing_category.yml
#
cli/php-sitemap-generator/vendor/*
cli/php-sitemap-generator/sitemap*.gz
#
._*
.DS_Store
*.txt
*.tar.bz2
# @ts 2023-02-21 ignore generated proxy classes
data/gen_lib/Proxy/__CG__*.php
# @ts 2023-02-21 ignore generated js files
data/react/dist/*.js
# @ts 2023-05-18
/vendor/
