# ignore phpStorm IDE config folder
.idea/*
#
www/bin/sitemaps/*.xml
www/upload
www/img
www/import
www/skynar
www/error
www/*.log
www/news-sitemap.xml
www/news-sitemap.xml.gz
www/sitemap.xml
www/sitemap.xml.gz
cache
log
# /template/Mail.mailing_*
template/Mail.mailing*
#
data/gen_lib/Locale/Group.php
data/react/node_modules/
#
foundation/node_modules/
foundation/bun.lockb
foundation/package-lock.json
#
node_modules/
# 
config/modules.yml
config/app.yml
config/Mail.mailing.yml
config/Widget.slots.yml
config/mailing_category.yml
#
cli/php-sitemap-generator/vendor/*
cli/php-sitemap-generator/sitemap*.gz
#
._*
.DS_Store
*.txt
*.tar.bz2
# @ts 2023-02-21 ignore generated proxy classes
data/gen_lib/Proxy/__CG__*.php
# @ts 2023-02-21 ignore generated js files
data/react/dist/*.js
# @ts 2023-05-18
/vendor/
# @ts 2023-08-19
vendor/*
cli/config/settings.php
cli/config/inv-prod-settings.php
# @ts 2024-05-29
.env