.cards {
  padding-top: 16px;
  grid-template-columns: 1fr;
  gap: 16px;
  display: grid;
}

@media screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (min-width: 1180px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

.cards--event {
  grid-template-columns: 1fr !important;
}

@media screen and (min-width: 1024px) {
  .cards--video {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cards__labels {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1;
}

.cards__img-wrapper {
  position: relative;
  width: calc(100% + 20px);
  display: block;
  margin: 0 -10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  padding-top: 66.66%;
  /* 3:2 Aspect Ratio */
}

.cards__img {
  max-height: 100%;
  position: relative;
}

.cards__img-wrapper .cards__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards__title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  font-style: normal;
  display: block;
}

.cards__blockinfo-main {
  margin-top: 16px;
  display: block;
}

.cards__text {
  margin: 0px;
}

.cards__price {
  margin: 0px;
}

.cards__value {
  margin: 0px;
  padding-top: 5px;
}

.cards__geoposition-block {
  padding-top: 10px;
}

.cards__geoposition {
  margin: 0px;
}

.cards__meta {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  margin-top: auto;
  font-weight: 600;
  color: #808080;
}

.cards__meta-stat {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.cards__meta-stat svg {
  margin-right: 0.5em !important;
}

.cards__meta-wrapper {
  display: flex;
}

.cards__position {
  padding-top: 5px;
  margin: 0px;
}

.cards__blockinfo-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  color: #808080;
}

.cards__wrapper {
  position: relative;
}

.cards__inner-date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 74px;
  background-color: #ffffff;
  position: absolute;
  top: 18px;
  left: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.cards__video {
  position: relative;
  padding-top: 16px;
}

.cards__video-img {
  min-width: 270px;
  max-height: 220px;
  border-radius: 4px;
}

.cards__video-btn {
  position: absolute;
  top: 48px;
  left: 100px;
  border: none;
  border-radius: 50%;
  background-color: var(--main-accent-color);
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 11px;
}

.cards__video-title {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 20px;
}

.cards__statistic {
  display: flex;
  justify-content: center;
}

.cards__item {
  background-color: #ffffff;
  padding: 0 10px 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.cards__item--big .cards__img-wrapper {
  padding-bottom: 20px;
}

.cards__item--big .cards__img {
  padding-top: 0;
  margin-bottom: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media screen and (max-width: 1023px) {
  .cards__item--horizontal-sm .cards__img-wrapper {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .cards__item--horizontal-sm {
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  .cards__item--horizontal-sm .cards__img-wrapper {
    width: 140px;
    min-width: 140px;
    height: 95px;
    padding: 0;
    display: block;
    display: flex;
    margin: 0;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1160px) {
  .cards__item--horizontal-sm .cards__meta {
    padding: 0;
    display: flex;
    flex-direction: column !important;
  }
  .cards__item--horizontal-sm .cards__meta div {
    margin-left: 0 !important;
  }
}

.cards__item.video img, .cards__item.video iframe {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}

.cards__item .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.cards__item.event {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .cards__item.event {
    max-height: 120px;
    flex-direction: row;
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.cards__item.event .cards__img {
  height: 100%;
  min-width: 160px;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .cards__item.event .cards__img {
    max-width: 160px;
  }
}

@media screen and (max-width: 1023px) {
  .cards__item.event .event__month {
    font-size: 1em;
    line-height: 1;
    margin-left: 0.2em;
    font-weight: 600;
  }
}

.cards__item.event .event__day {
  line-height: 1;
  font-size: 1em;
}

@media screen and (min-width: 1024px) {
  .cards__item.event .event__day {
    font-size: 3em;
  }
}

.cards__item.event .event__date {
  display: flex;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .cards__item.event .event__date {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 8px;
    border-radius: 4px;
    background: white;
  }
}

@media screen and (min-width: 1024px) {
  .cards__item.event .event__date {
    position: relative;
    height: 120px;
    width: 120px;
    min-width: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.media__videos {
  display: flex;
  flex-wrap: wrap;
}
