.mobile-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.25s ease;
  transform: translateX(0);
  overflow: scroll;
  background: var(--main-bg-color);
  z-index: 9;
  top: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
}

.mobile-nav .search {
  border: 0;
}

.mobile-nav .search__input {
  border: 0;
  padding: 10px;
  background: white;
  margin: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-right: 32px;
}

.mobile-nav .search__button {
  border: none;
  position: absolute;
  background: transparent;
  height: 100%;
  right: 0;
  padding: 20px;
}

.mobile-nav__divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1) !important;
}

.mobile-nav--opened {
  transform: translateX(0%) !important;
}

.mobile-nav svg {
  transition: all 0.25s ease;
}

.mobile-nav .submenu-open svg {
  transform: rotate(-90deg);
}

.mobile-nav__header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 1em 12px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-nav a {
  color: #000;
  text-decoration: none;
  line-height: 1.2;
  display: block;
  padding: 8px 12px;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 8px;
}

.mobile-nav .sub-menu {
  width: 100%;
  background: var(--main-bg-color);
  margin: 0;
}

.mobile-nav__socials {
  display: flex;
}

.mobile-nav__socials svg {
  width: 2em;
  height: 2em;
}

.mobile-nav .cd-navigation {
  background: white;
}

.mobile-nav .cd-single-item-wrapper {
  background: var(--main-bg-color);
}
