.img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(9, 31, 52, 0) 36.7%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 1;
}
