.pagination {
  display: flex;
  margin: 10px -5px;
  justify-content: center;
  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
  li {
    margin: 5px;
    background: white;
    border-radius: 4px;
    display: block;
    text-align: center;
    border: 1px solid #00000021;
    transition: all 0.25s ease;
    &.current {
      background: var(--main-accent-color);
      a {
        color: white;
        opacity: 1;
      }

      pointer-events: none;
    }
    a {
      min-width: 32px;
      padding: 5px;
      display: block;
      transition: all 0.25s ease;
      opacity: 0.8;
    }
    &:hover {
      border: 1px solid var(--main-accent-color) !important;

      path {
        stroke: var(--main-accent-color) !important;
      }
      a {
        color: var(--main-accent-color) !important;
        opacity: 1;
      }
    }
  }
  li:first-of-type:not(.first),
  li:last-of-type:not(.last) {
    path {
      transition: all 0.25s ease;
    }
    &:hover path {
      opacity: 1;
      stroke: white;
    }
  }

  @media screen and (max-width: 1023px) {
    li {
      display: none;
    }
    li:first-of-type:not(.first),
    li:last-of-type:not(.last),
    li.last,
    li.spacer,
    li.last + li,
    li.current,
    li.current + li {
      display: flex;
    }
  }
}
